@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-zinc-950 text-white antialiased selection:bg-white/20;
  min-height: 100vh;
}
